~/dotfiles/waybar/.waybar.err

# custom files
~/dotfiles/.oh-my-zsh/custom/

# temp files directories
~/dotfiles/.oh-my-zsh/cache/
~/dotfiles/.oh-my-zsh/log/
*.swp
/dotfiles/.oh-my-zsh/.DS_Store

# editor configs
~/dotfiles/.oh-my-zsh/.vscode
~/dotfiles/.oh-my-zsh/.idea

#clipboard stuff 
/clipse/clipse.log
/clipse/clipboard_history.json
